<div class="title-container">
  <h3 class="title-text">Skills</h3>
</div>
<div class="section-container">
  <div class="card" ngsReveal>
    <div class="card-header">
      <span class="card-title-maintext">Front-End</span>
    </div>
    <!-- <div class="card-body" ngsRevealSet [ngsInterval]="200" [ngsSelector]="'.skill-item'"> -->
    <div class="card-body">
      <rs-skill-item [name]="'JavaScript'" [imgSrc]="'assets/images/skills/javascript.png'" [value]="90"></rs-skill-item>
      <rs-skill-item [name]="'CSS3'" [imgSrc]="'assets/images/skills/css3.png'" [value]="70"></rs-skill-item>
      <rs-skill-item [name]="'jQuery'" [imgSrc]="'assets/images/skills/jquery.png'" [value]="80"></rs-skill-item>
      <rs-skill-item [name]="'Angular 2+'" [imgSrc]="'assets/images/skills/angular.png'" [value]="90"></rs-skill-item>
      <rs-skill-item [name]="'Bootstrap'" [imgSrc]="'assets/images/skills/bootstrap.png'" [value]="70"></rs-skill-item>
      <rs-skill-item [name]="'React'" [imgSrc]="'assets/images/skills/react.png'" [value]="50"></rs-skill-item>
    </div>
  </div>

  <div class="card" ngsRevealSet [ngsInterval]="200" [ngsSelector]="'.skill-item'">
    <div class="card-header">
      <span class="card-title-maintext">Back-End</span>
    </div>
    <div class="card-body">
      <rs-skill-item [name]="'.NET Core'" [imgSrc]="'assets/images/skills/netcore.png'" [value]="90"></rs-skill-item>
      <rs-skill-item [name]="'Entity Framework Core'" [imgSrc]="'assets/images/skills/entityframeworkcore.png'" [value]="90"></rs-skill-item>
      <rs-skill-item [name]="'Laravel'" [imgSrc]="'assets/images/skills/Laravel.png'" [value]="50"></rs-skill-item>
      <rs-skill-item [name]="'Node.js'" [imgSrc]="'assets/images/skills/nodejs.png'" [value]="60"></rs-skill-item>
      <rs-skill-item [name]="'Spring'" [imgSrc]="'assets/images/skills/spring.png'" [value]="30"></rs-skill-item>
    </div>
  </div>

  <div class="card" ngsRevealSet [ngsInterval]="200" [ngsSelector]="'.skill-item'">
    <div class="card-header">
      <span class="card-title-maintext">Databases</span>
    </div>
    <div class="card-body">
      <rs-skill-item [name]="'MySQL'" [imgSrc]="'assets/images/skills/mysql.png'" [value]="80"></rs-skill-item>
      <rs-skill-item [name]="'SQL Server'" [imgSrc]="'assets/images/skills/sqlserver.svg'" [value]="80"></rs-skill-item>
      <rs-skill-item [name]="'PostgreSQL'" [imgSrc]="'assets/images/skills/postgresql.png'" [value]="80"></rs-skill-item>
    </div>
  </div>

  <div class="card" ngsRevealSet [ngsInterval]="200" [ngsSelector]="'.skill-item'">
    <div class="card-header">
      <span class="card-title-maintext">Package managers</span>
    </div>
    <div class="card-body">
      <rs-skill-item [name]="'npm'" [imgSrc]="'assets/images/skills/npm.png'" [value]="90"></rs-skill-item>
      <rs-skill-item [name]="'NuGet'" [imgSrc]="'assets/images/skills/nuget.png'" [value]="90"></rs-skill-item>
      <rs-skill-item [name]="'Bower'" [imgSrc]="'assets/images/skills/bower.png'" [value]="70"></rs-skill-item>

    </div>
  </div>

  <div class="card" ngsRevealSet [ngsInterval]="200" [ngsSelector]="'.skill-item'">
    <div class="card-header">
      <span class="card-title-maintext">Build tools</span>
    </div>
    <div class="card-body">
      <rs-skill-item [name]="'Webpack'" [imgSrc]="'assets/images/skills/webpack.png'" [value]="70"></rs-skill-item>
    </div>
  </div>

  <div class="card" ngsRevealSet [ngsInterval]="200" [ngsSelector]="'.skill-item'">
    <div class="card-header">
      <span class="card-title-maintext">Programming Languages</span>
    </div>
    <div class="card-body">
      <rs-skill-item [name]="'C#'" [imgSrc]="'assets/images/skills/csharp.png'" [value]="90"></rs-skill-item>
      <rs-skill-item [name]="'Java'" [imgSrc]="'assets/images/skills/java.jpg'" [value]="75"></rs-skill-item>
      <rs-skill-item [name]="'PHP'" [imgSrc]="'assets/images/skills/php.png'" [value]="70"></rs-skill-item>
      <rs-skill-item [name]="'Visual Basic'" [imgSrc]="'assets/images/skills/visualbasic.png'" [value]="65"></rs-skill-item>

    </div>
  </div>

  <div class="card" ngsRevealSet [ngsInterval]="200" [ngsSelector]="'.skill-item'">
    <div class="card-header">
      <span class="card-title-maintext">Other</span>
    </div>
    <div class="card-body">
      <rs-skill-item [name]="'Git'" [imgSrc]="'assets/images/skills/git.png'" [value]="90"></rs-skill-item>
      <rs-skill-item [name]="'GitHub'" [imgSrc]="'assets/images/skills/github.png'" [value]="90"></rs-skill-item>
      <rs-skill-item [name]="'BitBucket'" [imgSrc]="'assets/images/skills/bitbucket.svg'" [value]="90"></rs-skill-item>
      <rs-skill-item [name]="'GitLab'" [imgSrc]="'assets/images/skills/gitlab.png'" [value]="90"></rs-skill-item>
    </div>
  </div>
</div>