<div class="title-container">
  <h3 class="title-text">Skills</h3>
</div>
<div class="section-container">
  <div class="card" ngsReveal>
    <div class="card-header">
      <span class="card-title-maintext">Front-End</span>
    </div>
    <div class="card-body" ngsRevealSet [ngsInterval]="200" [ngsSelector]="'.skill-item'">

      <div class="skill-item">
        <div class="skill-image-container">
          <img class="skill-image" src="assets/images/skills/javascript.png">
        </div>
        <div class="skill-item-content">
          <div class="skill-level-label">JavaScript<span class="skill-level-description" data-original-title title>Advanced</span></div>
          <div class="skill-level-bar">
            <div class="skill-level-bar-inner" data-level="90%" style="width: 90%"></div>
          </div>
        </div>
      </div>

      <div class="skill-item">
        <div class="skill-image-container">
          <img class="skill-image" src="assets/images/skills/css3.png">
        </div>
        <div class="skill-item-content">
          <div class="skill-level-label">CSS3<span class="skill-level-description" data-original-title title>Intermediate</span></div>
          <div class="skill-level-bar">
            <div class="skill-level-bar-inner" data-level="70%" style="width: 70%"></div>
          </div>
        </div>
      </div>

      <div class="skill-item">
        <div class="skill-image-container">
          <img class="skill-image" src="assets/images/skills/jquery.png">
        </div>
        <div class="skill-item-content">
          <div class="skill-level-label">jQuery<span class="skill-level-description" data-original-title title>Intermediate</span></div>
          <div class="skill-level-bar">
            <div class="skill-level-bar-inner" data-level="80%" style="width: 80%"></div>
          </div>
        </div>
      </div>

      <div class="skill-item">
        <div class="skill-image-container">
          <img class="skill-image" src="assets/images/skills/angular.png">
        </div>
        <div class="skill-item-content">
          <div class="skill-level-label">Angular 2+<span class="skill-level-description" data-original-title title>Intermediate</span></div>
          <div class="skill-level-bar">
            <div class="skill-level-bar-inner" data-level="90%" style="width: 90%"></div>
          </div>
        </div>
      </div>

      <div class="skill-item">
        <div class="skill-image-container">
          <img class="skill-image" src="assets/images/skills/bootstrap.png">
        </div>
        <div class="skill-item-content">
          <div class="skill-level-label">Bootstrap<span class="skill-level-description" data-original-title title>Intermediate</span></div>
          <div class="skill-level-bar">
            <div class="skill-level-bar-inner" data-level="70%" style="width: 70%"></div>
          </div>
        </div>
      </div>

      <div class="skill-item">
        <div class="skill-image-container">
          <img class="skill-image" src="assets/images/skills/react.png">
        </div>
        <div class="skill-item-content">
          <div class="skill-level-label">React<span class="skill-level-description" data-original-title title>Intermediate</span></div>
          <div class="skill-level-bar">
            <div class="skill-level-bar-inner" data-level="50%" style="width: 50%"></div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="card" ngsRevealSet [ngsInterval]="200" [ngsSelector]="'.skill-item'">
    <div class="card-header">
      <span class="card-title-maintext">Back-End</span>
    </div>
    <div class="card-body">

      <div class="skill-item">
        <div class="skill-image-container">
          <img class="skill-image" src="assets/images/skills/netcore.png">
        </div>
        <div class="skill-item-content">
          <div class="skill-level-label">.NET Core<span class="skill-level-description" data-original-title title>Advanced</span></div>
          <div class="skill-level-bar">
            <div class="skill-level-bar-inner" data-level="90%" style="width: 90%"></div>
          </div>
        </div>
      </div>

      <div class="skill-item">
        <div class="skill-image-container">
          <img class="skill-image" src="assets/images/skills/entityframeworkcore.png">
        </div>
        <div class="skill-item-content">
          <div class="skill-level-label">Entity Framework Core<span class="skill-level-description" data-original-title
              title>Advanced</span></div>
          <div class="skill-level-bar">
            <div class="skill-level-bar-inner" data-level="90%" style="width: 90%"></div>
          </div>
        </div>
      </div>

      <div class="skill-item">
        <div class="skill-image-container">
          <img class="skill-image" src="assets/images/skills/Laravel.png">
        </div>
        <div class="skill-item-content">
          <div class="skill-level-label">Laravel<span class="skill-level-description" data-original-title title>Intermediate</span></div>
          <div class="skill-level-bar">
            <div class="skill-level-bar-inner" data-level="50%" style="width: 50%"></div>
          </div>
        </div>
      </div>

      <div class="skill-item">
        <div class="skill-image-container">
          <img class="skill-image" src="assets/images/skills/nodejs.png">
        </div>
        <div class="skill-item-content">
          <div class="skill-level-label">Node.js<span class="skill-level-description" data-original-title title>Intermediate</span></div>
          <div class="skill-level-bar">
            <div class="skill-level-bar-inner" data-level="60%" style="width: 60%"></div>
          </div>
        </div>
      </div>

      <div class="skill-item">
        <div class="skill-image-container">
          <img class="skill-image" src="assets/images/skills/spring.png">
        </div>
        <div class="skill-item-content">
          <div class="skill-level-label">Spring<span class="skill-level-description" data-original-title title>Beginner</span></div>
          <div class="skill-level-bar">
            <div class="skill-level-bar-inner" data-level="30%" style="width: 30%"></div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="card" ngsRevealSet [ngsInterval]="200" [ngsSelector]="'.skill-item'">
    <div class="card-header">
      <span class="card-title-maintext">Databases</span>
    </div>
    <div class="card-body">

      <div class="skill-item">
        <div class="skill-image-container">
          <img class="skill-image" src="assets/images/skills/mysql.png">
        </div>
        <div class="skill-item-content">
          <div class="skill-level-label">MySQL<span class="skill-level-description" data-original-title title>Advanced</span></div>
          <div class="skill-level-bar">
            <div class="skill-level-bar-inner" data-level="80%" style="width: 80%"></div>
          </div>
        </div>
      </div>

      <div class="skill-item">
        <div class="skill-image-container">
          <img class="skill-image" src="assets/images/skills/sqlserver.svg">
        </div>
        <div class="skill-item-content">
          <div class="skill-level-label">SQL Server<span class="skill-level-description" data-original-title title>Advanced</span></div>
          <div class="skill-level-bar">
            <div class="skill-level-bar-inner" data-level="80%" style="width: 80%"></div>
          </div>
        </div>
      </div>

      <div class="skill-item">
        <div class="skill-image-container">
          <img class="skill-image" src="assets/images/skills/postgresql.png">
        </div>
        <div class="skill-item-content">
          <div class="skill-level-label">PostgreSQL<span class="skill-level-description" data-original-title title>Advanced</span></div>
          <div class="skill-level-bar">
            <div class="skill-level-bar-inner" data-level="80%" style="width: 80%"></div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="card" ngsRevealSet [ngsInterval]="200" [ngsSelector]="'.skill-item'">
    <div class="card-header">
      <span class="card-title-maintext">Package managers</span>
    </div>
    <div class="card-body">

      <div class="skill-item">
        <div class="skill-image-container">
          <img class="skill-image" src="assets/images/skills/npm.png">
        </div>
        <div class="skill-item-content">
          <div class="skill-level-label">npm<span class="skill-level-description" data-original-title title>Advanced</span></div>
          <div class="skill-level-bar">
            <div class="skill-level-bar-inner" data-level="90%" style="width: 90%"></div>
          </div>
        </div>
      </div>

      <div class="skill-item">
        <div class="skill-image-container">
          <img class="skill-image" src="assets/images/skills/nuget.png">
        </div>
        <div class="skill-item-content">
          <div class="skill-level-label">NuGet<span class="skill-level-description" data-original-title title>Advanced</span></div>
          <div class="skill-level-bar">
            <div class="skill-level-bar-inner" data-level="90%" style="width: 90%"></div>
          </div>
        </div>
      </div>

      <div class="skill-item">
        <div class="skill-image-container">
          <img class="skill-image" src="assets/images/skills/bower.png">
        </div>
        <div class="skill-item-content">
          <div class="skill-level-label">Bower<span class="skill-level-description" data-original-title title>Intermediate</span></div>
          <div class="skill-level-bar">
            <div class="skill-level-bar-inner" data-level="70%" style="width: 70%"></div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="card" ngsRevealSet [ngsInterval]="200" [ngsSelector]="'.skill-item'">
    <div class="card-header">
      <span class="card-title-maintext">Build tools</span>
    </div>
    <div class="card-body">

      <div class="skill-item">
        <div class="skill-image-container">
          <img class="skill-image" src="assets/images/skills/webpack.png">
        </div>
        <div class="skill-item-content">
          <div class="skill-level-label">Webpack<span class="skill-level-description" data-original-title title>Advanced</span></div>
          <div class="skill-level-bar">
            <div class="skill-level-bar-inner" data-level="70%" style="width: 70%"></div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="card" ngsRevealSet [ngsInterval]="200" [ngsSelector]="'.skill-item'">
    <div class="card-header">
      <span class="card-title-maintext">Programming Languages</span>
    </div>
    <div class="card-body">

      <div class="skill-item">
        <div class="skill-image-container">
          <img class="skill-image" src="assets/images/skills/csharp.png">
        </div>
        <div class="skill-item-content">
          <div class="skill-level-label">C#<span class="skill-level-description" data-original-title title>Advanced</span></div>
          <div class="skill-level-bar">
            <div class="skill-level-bar-inner" data-level="90%" style="width: 90%"></div>
          </div>
        </div>
      </div>

      <div class="skill-item">
        <div class="skill-image-container">
          <img class="skill-image" src="assets/images/skills/java.jpg">
        </div>
        <div class="skill-item-content">
          <div class="skill-level-label">Java<span class="skill-level-description" data-original-title title>Intermediate</span></div>
          <div class="skill-level-bar">
            <div class="skill-level-bar-inner" data-level="75%" style="width: 75%"></div>
          </div>
        </div>
      </div>

      <div class="skill-item">
        <div class="skill-image-container">
          <img class="skill-image" src="assets/images/skills/php.png">
        </div>
        <div class="skill-item-content">
          <div class="skill-level-label">PHP<span class="skill-level-description" data-original-title title>Intermediate</span></div>
          <div class="skill-level-bar">
            <div class="skill-level-bar-inner" data-level="70%" style="width: 70%"></div>
          </div>
        </div>
      </div>

      <div class="skill-item">
        <div class="skill-image-container">
          <img class="skill-image" src="assets/images/skills/visualbasic.png">
        </div>
        <div class="skill-item-content">
          <div class="skill-level-label">Visual Basic<span class="skill-level-description" data-original-title title>Intermediate</span></div>
          <div class="skill-level-bar">
            <div class="skill-level-bar-inner" data-level="65%" style="width: 65%"></div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="card" ngsRevealSet [ngsInterval]="200" [ngsSelector]="'.skill-item'">
    <div class="card-header">
      <span class="card-title-maintext">Other</span>
    </div>
    <div class="card-body">

      <div class="skill-item">
        <div class="skill-image-container">
          <img class="skill-image" src="assets/images/skills/git.png">
        </div>
        <div class="skill-item-content">
          <div class="skill-level-label">Git<span class="skill-level-description" data-original-title title>Advanced</span></div>
          <div class="skill-level-bar">
            <div class="skill-level-bar-inner" data-level="90%" style="width: 90%"></div>
          </div>
        </div>
      </div>

      <div class="skill-item">
        <div class="skill-image-container">
          <img class="skill-image" src="assets/images/skills/github.png">
        </div>
        <div class="skill-item-content">
          <div class="skill-level-label">GitHub<span class="skill-level-description" data-original-title title>Advanced</span></div>
          <div class="skill-level-bar">
            <div class="skill-level-bar-inner" data-level="90%" style="width: 90%"></div>
          </div>
        </div>
      </div>

      <div class="skill-item">
        <div class="skill-image-container">
          <img class="skill-image" src="assets/images/skills/bitbucket.svg">
        </div>
        <div class="skill-item-content">
          <div class="skill-level-label">BitBucket<span class="skill-level-description" data-original-title title>Advanced</span></div>
          <div class="skill-level-bar">
            <div class="skill-level-bar-inner" data-level="90%" style="width: 90%"></div>
          </div>
        </div>
      </div>

      <div class="skill-item">
        <div class="skill-image-container">
          <img class="skill-image" src="assets/images/skills/gitlab.png">
        </div>
        <div class="skill-item-content">
          <div class="skill-level-label">GitLab<span class="skill-level-description" data-original-title title>Advanced</span></div>
          <div class="skill-level-bar">
            <div class="skill-level-bar-inner" data-level="90%" style="width: 90%"></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>