#main-sidebar {
    height: 100vh;
}

#name {
    color: #778492;
    font-weight: 400;
    font-size: 26px;
}

#role {
    color: #778492;
    font-weight: 300;
    font-size: 20px;
}

#main-sidebar div {
    cursor: pointer;
}

#rodrigo-pic {
    width: 100px;
    height: 100px;
    margin: 0px auto 0px;
    border-radius: 50px;
    overflow: hidden;
}

#rodrigo-pic img {
    height: 110px;
    margin: -5px auto 0px -2px;
}

.nav-text {
    font-weight: 300;
    font-size: 18px;
}

.list-group-item {
    padding: .40rem 1.25rem;
}

.list-group-item > div {
    width: 40px;
    display: inline-block;
}

.list-group-item > span {
    display: inline-block;
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #20A1C0;
    border-color: #20A1C0;
}