<div>
    <!-- <div id="main-sidebar" class="list-group" ngsRevealSet [ngsInterval]="200" [ngsSelector]="'.list-group-item'"> -->
    <div id="main-sidebar" class="list-group">
        <div class="list-group-item list-group-item-action" (click)="onNavbarBtnClick('#intro')" *ngIf="!mobileQuery.matches">
            <div id="rodrigo-pic">
                <img src="assets/images/rodrigo.jpg" />
            </div>
            <br><span id="name">Rodrigo Santos</span><br>
            <span id="role">Full-Stack Developer</span>
        </div>
        <div class="list-group-item list-group-item-action" (click)="onNavbarBtnClick('#intro')" *ngIf="mobileQuery.matches">
            <div id="rodrigo-pic">
                <img src="assets/images/rodrigo.jpg" />
            </div>
        </div>
        <div class="list-group-item list-group-item-action" (click)="onNavbarBtnClick('#about')" [ngClass]="{ 'active' : scrollString === 'about' }">
            <div><i class="fa fa-user fa-fw"></i></div>
            <span class="nav-text">About</span>
        </div>
        <div class="list-group-item list-group-item-action" (click)="onNavbarBtnClick('#experience')" [ngClass]="{ 'active' : scrollString === 'experience' }">
            <div><i class="fa fa-briefcase fa-fw"></i></div>
            <span class="nav-text">Experience</span>
        </div>
        <div class="list-group-item list-group-item-action" (click)="onNavbarBtnClick('#education')" [ngClass]="{ 'active' : scrollString === 'education' }">
            <div><i class="fa fa-graduation-cap fa-fw"></i></div>
            <span class="nav-text">Education</span>
        </div>
        <!-- <div class="list-group-item list-group-item-action" (click)="onNavbarBtnClick('#projects')">
            <i class="fa fa-code fa-fw"></i>
            <span class="nav-text">Projects</span>
        </div> -->
        <div class="list-group-item list-group-item-action" (click)="onNavbarBtnClick('#skills')" [ngClass]="{ 'active' : scrollString === 'skills' }">
            <div><i class="fa fa-magic"></i></div>
            <span class="nav-text">Skills</span>
        </div>
        <div class="list-group-item list-group-item-action" (click)="onNavbarBtnClick('#languages')" [ngClass]="{ 'active' : scrollString === 'languages' }">
            <div><i class="fa fa-language"></i></div>
            <span class="nav-text">Languages</span>
        </div>
        <div class="list-group-item list-group-item-action" (click)="onNavbarBtnClick('#contact')" [ngClass]="{ 'active' : scrollString === 'contact' }">
            <div><i class="fa fa-envelope"></i></div>
            <span class="nav-text">Contact</span>
        </div>
        <div class="list-group-item list-group-item-action" (click)="onNavbarBtnClick('#bio')" [ngClass]="{ 'active' : scrollString === 'bio' }">
            <div><i class="fa fa-history"></i></div>
            <span class="nav-text">Bio</span>
        </div>
    </div>
</div>