<div class="title-container">
  <h3 class="title-text">Contact</h3>
</div>
<div class="section-container" ngsRevealSet [ngsInterval]="200" [ngsSelector]="'.social-link'">
  <div class="social-link row">
    <a class="social-link-icon" href="mailto:rodrigo.santos.dev@outlook.com">
      <i class="fa fa-envelope"></i>
    </a>
    <a class="social-link-text" href="mailto:rodrigo.santos.dev@outlook.com">rodrigo.santos.dev@outlook.com</a>
  </div>

  <div class="social-link row">
    <a class="social-link-icon" href="https://www.linkedin.com/in/rodrigo-santos-43225b10b" title="Rodrigo's LinkedIn"
      target="_blank">
      <i class="fa fa-linkedin"></i>
    </a>
    <a class="social-link-text" href="https://www.linkedin.com/in/rodrigo-santos-43225b10b" title="Rodrigo's LinkedIn"
      target="_blank">linkedin.com/in/rodrigo-santos-43225b10b</a>
  </div>

  <div class="social-link row">
    <a class="social-link-icon" href="https://github.com/Rudyzio" title="Rodrigo's GitHub" target="_blank">
      <i class="fa fa-github-alt"></i>
    </a>
    <a class="social-link-text" href="https://github.com/Rudyzio" title="Rodrigo's GitHub" target="_blank">github.com/Rudyzio</a>
  </div>
</div>