<div id="mainContent">
  <div id="about" ngsReveal>
    <rs-about></rs-about>
  </div>
  <div id="experience" ngsReveal>
    <rs-experience></rs-experience>
  </div>
  <div id="education" ngsReveal>
    <rs-education></rs-education>
  </div>
  <!-- <div id="projects">
    <rs-projects></rs-projects>
  </div> -->
  <div id="skills" ngsReveal>
    <rs-skills></rs-skills>
  </div>
  <div id="languages" ngsReveal>
    <rs-languages></rs-languages>
  </div>
  <div id="contact" ngsReveal>
    <rs-contact></rs-contact>
  </div>
  <div id="bio" ngsReveal>
    <rs-bio></rs-bio>
  </div>
</div>