<div id="mainContent">
  <div id="about">
    <rs-about></rs-about>
  </div>
  <div id="experience">
    <rs-experience></rs-experience>
  </div>
  <div id="education">
    <rs-education></rs-education>
  </div>
  <!-- <div id="projects">
    <rs-projects></rs-projects>
  </div> -->
  <div id="skills">
    <rs-skills></rs-skills>
  </div>
  <div id="languages">
    <rs-languages></rs-languages>
  </div>
  <div id="contact">
    <rs-contact></rs-contact>
  </div>
  <div id="bio">
    <rs-bio></rs-bio>
  </div>
</div>