<div class="title-container">
  <h3 class="title-text">Education</h3>
</div>
<div class="section-container">
  <rs-education-item
    [educationLogo]="'assets/images/istlogo.png'"
    [educationName]="'Instituto Superior Técnico'"
    [educationDegree]="'Master\'s degree, Information Systems and Computer Engineering'"
    [educationBody]="mastersBody"
    [educationFooter]="'2014-2016 | Lisbon, Portugal'">
  </rs-education-item>
  <rs-education-item
    [educationLogo]="'assets/images/istlogo.png'"
    [educationName]="'Instituto Superior Técnico'"
    [educationDegree]="'Bachelor\'s degree, Information Systems and Computer Engineering'"
    [educationBody]="bachelorBody"
    [educationFooter]="'2010-2014 | Lisbon, Portugal'">
  </rs-education-item>