<div class="title-container">
  <h3 class="title-text">Education</h3>
</div>
<div class="section-container">
  <div class="card" ngsReveal>
    <div class="card-header card-header-container">
      <div class="card-header-box">
        <img class="card-title-image" src="/assets/images/istlogo.png" height="50px" />
      </div>
      <div class="card-header-box">
        <span class="card-header-box card-title-maintext">Instituto Superior Técnico</span>
        <span class="card-title-secondarytext">Master's degree, Information Systems and Computer Engineering</span>
      </div>
    </div>
    <div class="card-body">
      <p class="card-text">Specialization in Software Engineering and Distributed Systems</p>
      <p class="card-text">Master Thesis: dDocs – A Citizen-Centric Electronic Document and Record Management System</p>
      <span>Revevant Courses:</span>
      <ul>
        <li>Advanced Programming</li>
        <li>Design and Implementation of Distributed Applications</li>
        <li>Mobile and Ubiquitous Computing</li>
        <li>Network and Computer Security</li>
        <li>Software Architectures</li>
      </ul>
    </div>
    <div class="card-footer text-muted">
      2014-2016 | Lisbon, Portugal
    </div>
  </div>
  <div class="card" ngsReveal>
    <div class="card-header card-header-container">
      <div class="card-header-box">
        <img class="card-title-image" src="/assets/images/istlogo.png" height="50px" />
      </div>
      <div class="card-header-box">
        <span class="card-header-box card-title-maintext">Instituto Superior Técnico</span>
        <span class="card-title-secondarytext">Bachelor's degree, Information Systems and Computer Engineering</span>
      </div>
    </div>
    <div class="card-body">
      <span>Relevant Courses:</span>
      <ul>
        <li>Analysis and Synthesis of Algorithms</li>
        <li>Computer Networks</li>
        <li>Databases</li>
        <li>Distributed Systems</li>
        <li>Human-Computer Interaction</li>
        <li>Logic for Programming</li>
        <li>Object-Oriented Programming</li>
        <li>Operating Systems</li>
        <li>Software Engineering</li>
      </ul>
    </div>
    <div class="card-footer text-muted">
      2010-2014 | Lisbon, Portugal
    </div>
  </div>
</div>