<div class="title-container">
  <h3 class="title-text">Languages</h3>
</div>
<div class="section-container" ngsRevealSet [ngsInterval]="200" [ngsSelector]="'.language-container'">

  <div class="language-container row">
    <div class="col-md-2">
      <img class="language-image" src="assets/images/flags/portugal.png">
    </div>
    <div class="language-text-container col-md-5">
      <div class="language-text">Portuguese - Native Speaker</div>
    </div>
    <div class="col-md-5">
      <ng-container *ngFor="let dummy of ' '.repeat(5).split('')">
        <i class="fa fa-star"></i>
      </ng-container>
    </div>
  </div>

  <div class="language-container row">
    <div class="col-md-2">
      <img class="language-image" src="assets/images/flags/unitedkingdom.png">
    </div>
    <div class="language-text-container col-md-5">
      <div class="language-text">English - Intermediate</div>
    </div>
    <div class="col-md-5">
      <ng-container *ngFor="let dummy of ' '.repeat(4).split('')">
        <i class="fa fa-star"></i>
      </ng-container>
    </div>
  </div>

  <div class="language-container row">
    <div class="col-md-2">
      <img class="language-image" src="assets/images/flags/spain.png">
    </div>
    <div class="language-text-container col-md-5">
      <div class="language-text">Spanish - Intermediate</div>
    </div>
    <div class="col-md-5">
      <ng-container *ngFor="let dummy of ' '.repeat(3).split('')">
        <i class="fa fa-star"></i>
      </ng-container>
    </div>
  </div>

</div>