<div class="title-container">
  <h3 class="title-text">Languages</h3>
</div>
<div class="section-container" ngsRevealSet [ngsInterval]="200" [ngsSelector]="'.language-container'">
  <rs-language-item [flag]="'assets/images/flags/portugal.png'" [language]="'Portuguese - Native Speaker'" [stars]="5"></rs-language-item>
  <rs-language-item [flag]="'assets/images/flags/unitedkingdom.png'" [language]="'English - Intermediate'" [stars]="4"></rs-language-item>
  <rs-language-item [flag]="'assets/images/flags/spain.png'" [language]="'Spanish - Intermediate'" [stars]="3"></rs-language-item>
</div>