#introContainer {
    position: relative;
    margin-left: 218px;
}

.overlay {
    background-color: rgba(0,0,0, 0.4);
    height: 100%;
    left: 0;
    position: absolute;
    top:0;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    #introContainer {
        margin-left: 0;
    }
    #introSentence {
        font-size: 30px;
    }
    #introButton {
        font-size: 18px; 
    }
}

@media(min-width: 768px) {
    #introSentence {
        font-size: 50px;
    }
    #introButton {
        font-size: 32px;
    }
}

#introSentenceContainer {
    width: 70%;
    color: white;
    font-weight: 200;
    text-align: center;
    vertical-align: middle;
}

#introSentence {
    font-weight: 300;
    line-height: 150%;
    padding: 0 30px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

#introButton {
    margin-top: 30px;
    padding: 10px 30px;
    border: 2px solid #fff;
    box-sizing: inherit;
    display: inline-block;
    cursor: pointer;
}

#introButton i {
    transition: transform .5s ease-in-out
}