<div class="title-container">
  <h3 class="title-text">About</h3>
</div>
<div class="section-container">
  <!-- <blockquote>
    <h2>GANDA RODAS</h2>
  </blockquote> -->
  <div class="about-text">
  <p align="justify">
    I am a Full-Stack Software Developer/Software Engineer with a great passion to learn new technologies and getting
    better
    in those that I already have some experience.</p>
  <p align="justify">I work as a Freelancer and I love watching football. Regular
    communication is an essential part of my job. It ensures that the project is completed with the specific
    guidelines the client required. I'm very passionate about my work and love to produce quality code instead
    of rushing into lots of features.
  </p>
  </div>
</div>