.skill-item {
    width: 100%;
    margin-bottom: 5px;
}

.skill-image {
    height: 50px;
    margin: auto;
}

.skill-item-content {
    margin-bottom: 30px;
    vertical-align: middle;
}

.skill-level-label {
    font-size: 18px;
    font-weight: 400;
    color: #20A1C0;
}

.skill-level-description {
    color: #20A1C0;
    font-size: 14px;
    font-weight: 200;
    float: right;
}

.skill-level-bar {
    height: 25px;
    background: #42B1CC;
}

.skill-level-bar-inner {
    height: inherit;
    background: #036880;
}