<div class="title-container">
  <h3 class="title-text">Experience</h3>
</div>
<div class="section-container">
  <rs-experience-item 
    [companyLogo]="'assets/images/Reveal_Logo.png'"
    [companyAddress]="'http://www.reveal.se'"
    [companyName]="'Reveal'"
    [companyRole]="'Full-Stack Developer'"
    [bodyText]="revealBody"
    [footerText]="'January 2018 - Present | Company HQ in Stockholm, Sweden | Working remotely from Lisbon, Portugal'">
  </rs-experience-item>

  <rs-experience-item 
    [companyLogo]="'assets/images/logomdss.png'"
    [companyAddress]="'https://mdss.pt'"
    [companyName]="'MDSS - Meta Documents Systems, LDA'"
    [companyRole]="'Full-Stack Developer'"
    [bodyText]="mdssBody"
    [footerText]="'June 2016 - January 2018 | Lisbon, Portugal'">
  </rs-experience-item>

  <rs-experience-item 
    [companyLogo]="'assets/images/inesclogo.png'"
    [companyAddress]="'https://www.inesc-id.pt'"
    [companyName]="'INESC-ID'"
    [companyRole]="'Trainee'"
    [bodyText]="inescBody"
    [footerText]="'September 2015 - December 2017 | Lisbon, Portugal'">
  </rs-experience-item>

</div>