<div class="title-container">
  <h3 class="title-text">Bio</h3>
</div>
<div class="section-container">
  <p align="justify">
    My passion for Software Development did not start as early as that. Since I was a little boy, I was always
    curious about
    how certain things work and, at the time, it intrigued me a lot about how a box with electronic components
    inside, could connect a whole world, as well as produce absolutely incredible things. With this in mind,
    at 18 years, I enrolled in the Bachelors in Information Systems and Computer Engineering at the Instituto
    Superior Técnico. Without any prior experience in programming, at first everything seemed to me a little
    abstract, but my curiosity and motivation to know more and to be better, made me face all the obstacles I
    had to overcome.

    <!-- A minha paixão por Software Development não começou tão cedo quanto isso. Desde pequeno
          que sempre fui curioso sobre como certas coisas funcionam e, na altura, intrigava-me muito sobre como uma
          caixa com uns componentes eletrónicos lá dentro, poderia conectar um mundo inteiro, assim como produzir coisas
          absolutamente incriveis. Posto isto, com os meus 18 anos, ingressei na Licenciatura em Engenharia Informática
          e de Computadores, no Instituto Superior Técnico. Sem qualquer experiência prévia em termos de programação,
          ao inicio tudo me parecia um pouco abstrato, mas a minha curiosidade e motivação para saber mais e ser melhor,
          fazia-me enfrentar todos os obstáculos que tive de ultrapassar. -->
  </p>
  <p align="justify">
    After much work and dedication, I finished my Bachelors Degree. Then, I decided to join the Master in Information
    Systems
    and Computer Engineering at the same institution. Why? I found out that I needed some more formation, because
    I did not felt prepared for the job market. Given the several specializations that we could choose, I opted
    for Software Engineering and Distributed Systems.

    <!-- Depois de muito trabalho e dedicação,
          finalizei a minha Licenciatura com uma média de 12 valores com grande orgulho. Seguidamente, decidi ingressar
          no Mestrado em Engenharia Informática e de Computadores na mesma instituição. Porquê? Achei que necessitava
          de mais alguma formação, pois não me sentia preparado para o mercado de trabalho. Dadas as várias especializações
          que podemos ter, optei por Engenharia de Software e Sistemas Distribuídos. -->
  </p>
  <p align="justify">
    And it was at the end of this Masters, that I began a great project, in which I still work today. "dDocs - A
    Citizen-Centric
    Electronic Document and Record Management System". This was the theme of my thesis, an idea coming from a
    startup -
    <a href="https://mdss.pt/" target="blank">MDSS, Meta Documents Systems, LDA</a> - which consisted in designing
    and implementing a platform in which
    we could have our documents as citizens (Citizen's Card, Driver's License, etc.) in digital format, with
    all the security and privacy issues that underlie this problem, as well as its integration with public entities
    of a State so that the documents could be completed in real time and only at the user's request: the citizen's
    information is never stored on the platform.


    <!-- E foi no final deste Mestrado, que comecei um grande projecto, no qual ainda hoje trabalho. "dDocs – A Citizen-Centric Electronic
          Document and Record Management System". Foi este o tema da minha tese, uma ideia vinda de uma startup - a
          MDSS, Meta Documents Systems, LDA -, o qual consistia em desenhar e implementar uma plataforma em que poderíamos
          ter os nossos documentos como cidadão (Cartão do Cidadão, Carta de Condução, etc.) em formato digital, com
          toda as questões de segurança e privacidade subjacentes a este problema, assim como a sua integração com
          várias entidades públicas de um Estado de modo a que os documentos pudessem ser preenchidos em tempo real
          e apenas a pedido do utilizador, nunca essa informação sendo armazenada na plataforma. -->
  </p>
  <p align="justify">
    Having said that, in addition to the dDocs design, I implemented a small prototype to serve as proof of concept
    with well-known
    technologies: PHP for back-end, HTML / Javascript / JQuery / CSS for front-end and MySQL as database.

    <!-- Posto isto, para além do desenho do dDocs, implementei um pequeno protótipo para servir como prova de conceito com tecnologias
          bastante conhecidas: PHP para back-end, HTML/Javascript/JQuery/CSS para front-end e MySQL como base de dados.
           -->
  </p>
  <p align="justify">
    Even before completing my Master's degree, I was integrated into the dDocs development team at MDSS in order to
    develop the
    actual product, using .NET Core, Angular (2/4/5) and PostgreSQL.

    <!-- Ainda antes de finalizar o meu Mestrado, fui integrado na equipa de desenvolvimento do dDocs na MDSS, de modo a desenvolver
          o produto real, utilizando .NET Core, Angular (2/4/5) e PostgreSQL. -->
  </p>
  <p align="justify">
    Later, I was also involved in the development of another project: PoL - Proof of Life. This project is based on
    safeguarding
    passwords of citizens, should any fatality occur to them, sent to people decided by the user in his life
    span.

    <!-- Mais tarde, fui integrado também no desenvolvimento de outro projecto: PoL - Proof of Life. Este projecto baseia-se em salvaguardar
          a informação digital (passwords) dos cidadãos, caso alguma fatalidade lhes aconteça, sendo esta informação
          enviada a pessoas decididas pelo utilizador, em vida. -->
  </p>

  <p align="justify">
    In early 2018, I decided I wanted to experience something new professionally so I decided to try some freelancing
    work!
    And that's where I am right now!
  </p>
</div>